/* =====================================================
   Columnas Ptal
===================================================== */
.reveal .ptal-text p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.35 !important;
}

.reveal .slides section:not(.title-slide-custom) .ptal-img p {
    margin-left: 60px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.1 !important;
}


.reveal .ptal-text strong {
    display: block;
    margin-bottom: 6px;
}


.reveal .columns-ptal {
    display: flex;
    flex-direction: row;
    gap: 60px;

    margin: 0px 60px 0 0px;
    margin-top: 50px;

    font-size: 0.7em;
    line-height: 1.35;
}

.reveal .col-ptal-main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reveal .ptal-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
}

.reveal .ptal-img {
    width: 48%;
    flex-shrink: 0;
}

.reveal .ptal-img img {
    width: 100%;
    margin: 0 !important;
    display: block;
}

.reveal .ptal-text {
    width: 60%;
    text-align: left;
    padding-top: 0;
}