/* =====================================================
   SVG Data Layers
===================================================== */

.reveal img.svg-layers {
    display: block;

    width: 90% !important;
    max-width: 90% !important;
    height: auto !important;

    margin: 20px auto 0 auto !important;

    object-fit: contain;
}

/* =====================================================
   FUENTE
===================================================== */

.fuente-propia-data_layers {
    display: table;
    margin: 20px auto 10px auto !important;
    width: 18% !important;

    font-size: 1.5em;
    text-align: center;
    padding: 6px 8px;
    background: #f5f6f8;
    border: 4px dashed #6b88ad;

}

.fuente-propia-data_layers p {
    margin: 0 !important;
    line-height: 1.1 !important;
}

.fuente-propia-data_layers::after {
    content: "Fuente: Elaboración propia";

    display: block;

    font-size: .40em;
    font-style: italic;
    line-height: 1;

    color: #666;

    text-align: center;
}