.metodo-intro {
    width: 88%;
    margin: -10px auto 0 auto;
    padding: 4px 0 4px 18px;

    border-left: 5px solid #7898bd;

    color: #263b43;
    font-size: 0.82em;
    line-height: 1.25;

    text-align: left;
}


.metodo-intro p{
    margin: 0 0 !important;

    line-height: 1.2 !important;
    text-align: left;
}

.metodo-intro strong {
    color: #285b7c;
    font-weight: 700;
}


.metodo-tag {
    display: block;
    width: 88%;

    margin: 0px auto 10px auto;
    padding: 4px 0 4px 18px;

    
    background: linear-gradient(to right,
                #c3e8f7 0%,
                rgba(195, 232, 247, 0) 100%);
    border-left: 5px solid #7898bd;

    color: #285b7c;

    font-size: 0.68em;
    font-weight: 700;
    letter-spacing: 0.3px;

    text-align: center;
}


/* ==========================================
   MAPA GTFS
========================================== */

.reveal iframe.map-gtfs {
    width: 89% !important;
    max-width: none !important;

    height: 320px !important;
    max-height: none !important;

    display: block !important;
    margin: 0 auto !important;

    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 4px solid #3d4269 !important;
}

/* ==========================================
   MAPA PTAL
========================================== */

.reveal iframe.map-ptal {
    width: 95% !important;
    max-width: none !important;

    height: 650px !important;
    max-height: none !important;

    display: block !important;
    margin: 0 auto !important;

    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 4px solid #3d4269 !important;
}

/* ==========================================
   MAPA Access
========================================== */

.reveal iframe.map-access {
    width: 89% !important;
    max-width: none !important;

    height: 280px !important;
    max-height: none !important;

    display: block !important;
    margin: 0 auto !important;

    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    border: 4px solid #3d4269 !important;
}